/* Estilos do site */

body{
    font-family: 'Courier New', Courier, monospace, sans-serif;
    
}



.container {
    justify-content: space-between;
    display: flex;
    height: 100px;
    background-color:  #000000;
    align-items: center;
    /* margin-bottom: 5px; */
  }

.cabecalho{
    height: 90%;
   }

.logo{
    display: flex;
    width: 90%;
    height: 90%;
    margin-left: 20px;
    padding: 5px;
     
}

.menu{
    width: 40%;
    
}

.iten, a{
    font-size: 1.3em;
    text-decoration: none;
    color: #ffffff;
}

.list{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
   
}





.caixa-contato{
    display: inline-block;
    background: #666666;
    margin-left: 32em ;
    width: 40%;
    padding: 2em;
    opacity: 0.5;
    transition: 400ms;
  }
  
  .caixa-contato:hover {
    opacity: 1;
   
  }
  
  form label {
   display: block;
   margin: 1em 0 ;
  
  
  }
  
  label {
    color: whitesmoke;
    
  }
  
  .input-padrao {
    width: 70%;
  }
  
  .enviar {
    color: white;
    width: 100%;
    padding: 10px 0;
    background: #000000;
    border: none;
    border-radius: 3px;
    font-weight: bold;
    font-size: 1em;
    cursor: pointer;
    margin-top: 1em;
  }
  
  